html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin-top: 0px;
    background-color: #fee7e6;
}
/*==================== layout page ===================*/
.layNav{
    background-color: darkorange;
}
.topicName{
    color: black;
}
/*================================= Home Page =============================*/
.homeNav{
    margin-top: 0;
}
.HomeLink {
    color: black;
}
.HomeButton {
    padding: 0.9rem 3rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    color: #fff;
    background-color: #368187;
    border-color: #F9EAC2;
}
.Sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    text-align: center
}
.SignIn, .SignOut {
    background-color: #ECFDF1;
    width: 42vh;
    height: 42vh;
    margin-right: 6vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/*======== Guard Register ==========*/
.RegisterButton {
    padding: 0.4rem 5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    color: #fff;
    background-color: #368187;
    border-color: #F9EAC2;
    margin-top: 3vh;
}
.RegisterForm input {
    width: 35%;
    padding: 0.7rem .8rem;
    margin-top: 1.2vh;
    margin-bottom: 1.2vh;
}

/*================== show page =============*/
.profileImage{
    height:15vh;
    width:12vh;
}